.container{
	background-color: #FFFFFF;
	height: 200px;
}
.first{
	position: absolute;
	width: 400px;
	height: 95px;
	top: 100px;
	left: 100px;
}
.first .big-circle{
	width: 33px;
	height: 33px;
	position: absolute;
	border-radius: 50%;
	background: #DBDBDB;
	left: 230px;
	top: 40px;
	text-align: center;
}
.first .big-circle .round_active{
	background: #FF4444 !important;
	width: 33px;
	height: 33px;
	position: absolute;
	border-radius: 50%;
	left: 0;
	top: 0;
	text-align: center;
}
.first .big-line .line_active{
	background: #DBDBDB; !important;
	width: 300px;
	height: 10px;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 999;
}
.first .title{
	position: absolute;
	top: 15px;
	left: 218px;
	line-height: 24px;
	color: #8A8A8A;
}
.first .big-line{
	width: 300px;
	height: 10px;
	background: #DDDEDE;
	position: absolute;
	left: 263px;
	top: 50px;
	text-align: center;
	z-index: 999;
}

.second{
	position: absolute;
	width: 400px;
	height: 95px;
	top: 100px;
	left: 330px;
}
.second .big-circle{
	width: 33px;
	height: 33px;
	position: absolute;
	border-radius: 50%;
	background: #DBDBDB;
	left: 333px;
	top: 38px;
	text-align: center;
}
.second .big-circle .round_active{
	/*background: #D58512 !important;*/
	width: 33px;
	height: 33px;
	position: absolute;
	border-radius: 50%;
	background: #DBDBDB;
	left:0;
	top: 0;
	text-align: center;
}
.second .title{
	position: absolute;
	top: 15px;
	left: 320px;
	line-height: 24px;
	color: #8A8A8A;
}
.second .big-line{
	width: 300px;
	height: 10px;
	background: #DDDEDE;
	position: absolute;
	left: 367px;
	top: 50px;
	text-align: center;
	z-index: 999;
}
.second .big-line .line_active{
	width: 300px;
	height: 10px;
	background: #DDDEDE;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 999;
}

.third{
	position: absolute;
	width: 700px;
	height: 95px;
	top: 100px;
	left: 440px;
}
.third .big-circle{
	width: 33px;
	height: 33px;
	position: absolute;
	border-radius: 50%;
	background: #DBDBDB;
	left: 558px;
	top: 38px;
	text-align: center;
}
.third .big-circle .round_active{
	width: 33px;
	height: 33px;
	position: absolute;
	border-radius: 50%;
	background: #DBDBDB;
	left: 0;
	top: 0;
	text-align: center;
}
.third .title{
	position: absolute;
	top: 15px;
	left: 545px;
	line-height: 24px;
	color: #8A8A8A;
}
.smsform{
	width: 500px;
	height: 300px;
	background-color: #FFFFFF;
	margin-left: 450px;
	margin-top: 20px;
}
.sms{
	padding-left: 24px;
	padding-top: 15px;
}

	

