<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--面包屑导航开始-->
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-lg-10">
        <h2>订单管理</h2>
        <ol class="breadcrumb">
            <li><a href="#">主页</a></li>
            <li><a>订单管理</a></li>
            <li class="active"><strong>订单列表</strong></li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<!--面包屑导航结束-->

<!--列表开始-->
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单列表</h5>
                    <div class="pull-right" style="cursor: pointer;margin-left:10px" ng-show="orderCount>0"
                         ng-click="refreshList()">
                        <span style="height:20px;border-radius: 10px;padding: 2px 8px;background: red;
                        color: white;font-size: 12px" ng-bind="orderCount"></span>
                        新订单(点击刷新)
                    </div>
                    <div class="pull-right" style="cursor: pointer" ng-show="remindCount>0"
                         ng-click="refreshList()">
                        <span style="height:20px;border-radius: 10px;padding: 2px 8px;background: red;
                        color: white;font-size: 12px" ng-bind="remindCount"></span>
                        新催单(点击刷新)
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="input-group pull-left"
                         style="padding-right: 5px; line-height: 30px;">每页显示
                    </div>
                    <label class="pull-left"> <select
                            class="form-control input-sm" ng-model="page.pageSize"
                            ng-init="page.pageSize = tempPageSize"
                            ng-change="changePageSize()"
                            style="padding:0 10px">
                        <option value="5">5条</option>
                        <option value="10">10条</option>
                        <option value="15">15条</option>
                    </select>
                    </label>
                    <div class="input-group pull-left" style="margin-left: 10px;">
                        <a data-toggle="modal" class="btn btn-sm  "
                           ng-class="{true:'btn-primary',false:'btn-white'}[order.status == 1]"
                           ng-click="changeOrderType(1)"
                           style="margin-right: 10px">待接订单
                        </a>
                        <a data-toggle="modal" class="btn btn-sm  "
                           ng-class="{true:'btn-primary',false:'btn-white'}[order.status == 2]"
                           ng-click="changeOrderType(2)"
                           style="margin-right: 10px">已接订单
                        </a>
                        <a data-toggle="modal" class="btn btn-sm "
                           ng-class="{true:'btn-primary',false:'btn-white'}[order.status == 3]"
                           ng-click="changeOrderType(3)"
                           style="margin-right: 10px">配送中订单
                        </a>
                        <a data-toggle="modal" class="btn btn-sm "
                           ng-class="{true:'btn-primary',false:'btn-white'}[order.status == 4]"
                           ng-click="changeOrderType(4)"
                        >完成订单
                        </a>
                    </div>
                    <div class="input-group col-lg-4 pull-right">
                        <input type="text" class="form-control input-sm" name="search"
                               placeholder="输入订单号查找" ng-model="page.keyWords"
                               ng-keyup="searchOrder($event)">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary" data-toggle="modal"
                                    ng-click="searchOrder()">查询
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <table class="table table-bordered table-hover my-table">
                        <thead>
                        <tr>
                            <th class="col-lg-1 text-center"><input type="checkbox"
                                                                    class="i-checks" ng-model="checkAll" i-check/></th>
                            <th>序号</th>
                            <th>订单号</th>
                            <th>用户名</th>
                            <th>总金额</th>
                            <th>支付方式</th>
                            <th>状态</th>
                            <th>创建时间</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in orderList.list" style="cursor: pointer" ng-click="toDetailPage(item)">
                            <td class="text-center"><input type="checkbox"
                                                           class="i-checks" ng-model="item.checked" i-check/></td>
                            <td
                                    ng-bind="(orderList.pageNum-1)*orderList.pageSize+$index+1 || 0"></td>
                            <td ng-bind="item.orderNo"></td>
                            <td ng-bind="item.user.userName"></td>
                            <td ng-bind="item.sumMoney"></td>
                            <td ng-bind="item.payMode | payModeFormat"></td>
                            <td ><span ng-bind="item | orderStatusFormat"></span> <span style="color:red" ng-show="item.reminder == '1'">(催单)</span></td>
                            <td ng-bind="item.createTime | dateFormat"></td>
                        </tr>
                        <tr ng-show="orderList.list.length==0">
                            <td class="text-center" colspan="8">没有记录</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="pull-left">
                        共<span ng-bind="orderList.total"></span>条记录 共<span
                            ng-bind="orderList.pages"></span>页
                    </div>
                    <div class="text-right">
                        <button class="btn btn-white btn-sm"
                                ng-click="lastPage(orderList.pageNum-1)">上一页
                        </button>
                        <input type="text" class="form-control page-cout"
                               ng-model="page.pageNum" ng-blur="toPage()"
                               ng-keyup="toPage($event)"/>
                        <button class="btn btn-white btn-sm"
                                ng-click="nextPage(orderList.pageNum+1)">下一页
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--列表结束-->

<!-- 确认删除框 -->
<div id="deleteTips" class="modal fade" aria-hidden="true"
     data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <h3 class="m-t-none m-b">提示</h3>
                    <h4>确定删除这条记录？</h4>
                    <div class="pull-right">
                        <button class="btn btn-sm btn-default" data-dismiss="modal">
                            <strong>取消</strong>
                        </button>
                        <button class="btn btn-sm btn-primary" data-dismiss="modal"
                                ng-click="deleteUser()">
                            <strong>确定</strong>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>