<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <!-- 主要页面-->
 
<!--面包屑导航开始-->
	<div class="row  border-bottom white-bg dashboard-header">
	    <div class="col-lg-10">
	        <ol class="breadcrumb">
	            <li><a href="#"><span class="fa fa-home"></span>主页</a></li>
	            <li><a>商家管理</a></li>
	            <li class="active"><strong>商家审核</strong></li>
	        </ol>
	    </div>
	</div>
	<!--面包屑导航结束-->
	<div class="wrapper wrapper-content animated fadeInUp ">
	    <div class="row well white-bg">
	        <div class="col-lg-12">
	            <div class="ibox float-e-margins">
	                  <div class="row"><!-- 搜索框 -->
	                 <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-xs-offset-2">
	                   <div class="input-group">
	                     <input type="text" class="form-control input-sm" name="search"
                               placeholder="输入商家名称查找" ng-model="page.keyWords"
                               ng-keyup="searchBusinessInData($event)">
	                     <span class="input-group-btn">
	                       <button class="btn btn-success btn-sm" type="button" ng-click="searchBusinessInData()">
	                       <span class="fa fa-search"> 搜索</span></button>
	                     </span>
	                   </div><!-- /input-group -->
	                 </div><!-- /.col-lg-6 -->
	               </div><!-- /.row -->
	               <br />  <br />  
	               <!-- 表格-->
	                <div class="row ">
	               	<div class="ibox float-e-margins col-md-12 ">
	                   	<table class="table table-hover ">
	                   	<thead>
	                       	<tr>
	                           	<th>序号</th>
	                               <th>商店名称</th>
	                               <th>商店电话</th>
	                               <th>商家姓名</th>
	                               <th>商店公告</th>
	                               <th>地址</th>
	                               <th  class="text-center">操作</th>
	                           </tr>
	                           </thead>
	                           <tbody>
	                           <tr ng-repeat="item in businessInDataList.list">
	                           	<td ng-bind="(businessInDataList.pageNum-1)*businessInDataList.pageSize+$index+1 || 0"></th>
	                               <td ng-bind="item.shopName"></td>
	                               <td ng-bind="item.phone"></td>
	                               <td ng-bind="item.businessmanName"></td>
	                               <td ng-bind="item.shopNotice "></td>
	                               <td ng-bind="item.address"></td>
	                               <td  class="text-center col-lg-3">
	                               	<button type="button" class="btn btn-link btn-sm" 
	                                    ng-click="checkDetails(item.id)">   详细信息
	                                   </button>
	                                 
	                               	<button class="btn btn-success btn-sm" ng-click="checkOk(item.id,item.shopName)">
	                                   <span class="fa fa-check"></span> 通过</button>
	                                   <button class="btn btn-danger btn-sm" ng-click="checkFail(item.id,item.shopName)">
	                                   <span class="fa fa-trash"></span> 不通过</button>
	                               </td>
	                           </tr>
	                           <tbody>
	                           <tr ng-show="businessInDataList.list.length==0">
                            <td class="text-center" colspan="8">没有记录</td>
                        </tr>
                        </tbody>
	                       </table>
	                       <!--分页信息-->
	                        <div class="pull-left">
	                     共<span ng-bind="businessInDataList.total"></span>条记录 共<span
	                         ng-bind="businessInDataList.pages"></span>页
	                 </div>
	                 <div class="text-right">
	                     <button class="btn btn-white btn-sm"
	                             ng-click="lastPage(businessInDataList.pageNum-1)">上一页
	                     </button>
	                     <input type="text" class="form-control page-cout"
	                            ng-model="page.pageNum" ng-blur="toPage()"
	                            ng-keyup="toPage($event)"/>
	                     <button class="btn btn-white btn-sm"
	                             ng-click="nextPage(businessInDataList.pageNum+1)">下一页
	                     </button>
	                 </div>
	                   </div>
	               </div>
	               <!--分页信息-->
	          	    </div>
	        </div>
	    </div>
	</div>
			<!-- Modal -->
	<div class="modal fade" id="checkDetails" tabindex="-1" role="dialog" 
	    aria-labelledby="myModalLabel">
	   <div class="modal-dialog" role="document">
	       <div class="modal-content">
	          <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal" 
	                   aria-label="Close"><span aria-hidden="true">&times;</span></button>
	                   <h4 class="modal-title" id="myModalLabel">待审核商店详细信息</h4>
	          </div>
	           <div class="modal-body">
	              <table class="table table-bordered" ">
	                  
                    <tr><td>商店正面照</td><td ><img alt="商店正面照" src={{checkDetailsList.frontPhoto}}></td>
                         <td>商店室内照</td><td><img alt="商店室内照" src={{checkDetailsList.insidePhoto}}></td></tr>
                    <tr><td>商家身份证正面照</td><td><img alt="商家身份证正面照" src={{checkDetailsList.idfrontPhoto}}></td>
                         <td>商家身份证背面照</td><td><img alt="商家身份证背面照" src={{checkDetailsList.idbackPhoto}}></td></tr>
                    <tr><td>营业执照</td><td><img alt="营业执照" src={{checkDetailsList.businessLicense}}></td>
                        <td>餐饮服务许可证</td><td><img alt="餐饮服务许可证" src={{checkDetailsList.cateringServiceLicense}}></td></tr>
        		 </table>
	           </div>
	        </div>
	    </div>
 </div>                
         
</body>
</html>