<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.AdminDao">

	<sql id="Base_Column_List">
		id, userName, password
	</sql>
	
	<select id="findByAdminName" parameterType="string" resultType="Admin">
		SELECT <include refid="Base_Column_List" /> FROM admin WHERE userName=#{adminname}
	</select>

</mapper>