<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.BusinessmanDao">

	<sql id="Base_Column_List">
		id, businessmanName,
		password,phone,email,registerTime,photo,accountBalance
	</sql>

	<!-- 通过id查询商家 -->
	<select id="findById" parameterType="Integer" resultType="Businessman">
		SELECT
		<include refid="Base_Column_List" />
		FROM businessman WHERE id=#{id}
	</select>

	<!-- 通过商家名查询商家 -->
	<select id="findByBusinessmanName" parameterType="string"
		resultType="Businessman">
		SELECT
		<include refid="Base_Column_List" />
		FROM businessman WHERE businessmanName=#{businessmanName}
	</select>

	<!-- 通过手机号查询商家 -->
	<select id="findByBusinessmanPhone" parameterType="string" resultType="Businessman">
		SELECT
		<include refid="Base_Column_List" />
		FROM businessman WHERE phone=#{phone}
	</select>
	
	<insert id="insertBusinessman" parameterType="com.chb.entity.Businessman">
	insert into businessman(businessmanName,
		password,salt,phone,email,registerTime,photo,accountBalance)
		values(#{businessmanName,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR},
		#{salt,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},
		#{registerTime,jdbcType=DATE},#{photo,jdbcType=VARCHAR},
		#{accountBalance,jdbcType=DOUBLE})
	</insert>

</mapper>