<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.GoodsDao">
	<sql id="Base_Column_List">
		id, shopId, goodsName, goodsPrice, goodsPhoto,
		goodsDescription,
		goodsSales, isPass, isOnline, goodsPoint,
		classifyGoodsId,goodsNumber,
		goodsRemain

	</sql>
	
	<!-- 商品字段 -->
    <sql id="Base_Column_List2">
		id,shopId,goodsName,goodsPrice,goodsPhoto,goodsSales
	</sql>

	<!-- 通过id查询goods -->
	<select id="selectByPrimaryKey" parameterType="Integer"
		resultType="Goods">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM goods WHERE id = #{id}
	</select>

	<!-- 通过page分页查询goods总数 -->
	<select id="selectCountByPage" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT count(0) FROM goods
		<where>
			<if test="page.keyWords != null and page.keyWords != ''">
				<if test="page.fuzzy == true">
					goodsName like '%' #{page.keyWords} '%'
				</if>
				<if test="page.fuzzy == false">
					goodsName = #{page.keyWords}
				</if>
			</if>
			<if test="goods.shopId != null and goods.shopId != ''">
				AND shopId = #{goods.shopId}
			</if>
		</where>
	</select>

	<!-- 通过page分页查询goods -->
	<select id="selectGoodsByPage" parameterType="java.util.Map"
		resultType="Goods">
		SELECT
		<include refid="Base_Column_List"></include>
		FROM goods
		<where>
			<if test="page.keyWords != null and page.keyWords != ''">
				<if test="page.fuzzy == true">
					goodsName like '%' #{page.keyWords} '%'
				</if>
				<if test="page.fuzzy == false">
					goodsName = #{page.keyWords}
				</if>
			</if>
			<if test="goods.shopId != null and goods.shopId != ''">
				AND shopId = #{goods.shopId}
			</if>
		</where>
		<if test="page.pageNum > 0 and page.pageSize > 0">
			limit #{page.startColum},#{page.pageSize}
		</if>
	</select>

	<!-- 添加菜品 -->
	<insert id="addGoods" parameterType="Goods">
		INSERT INTO goods
		(shopId,goodsName,goodsPrice,goodsPhoto,goodsDescription,
		classifyGoodsId,goodsNumber,goodsRemain)
		VALUES
		(#{shopId},#{goodsName},#{goodsPrice},#{goodsPhoto},
		#{goodsDescription},#{classifyGoodsId},#{goodsNumber},
		#{goodsRemain})
	</insert>

	<!-- 修改菜品 -->
	<update id="updateGoods" parameterType="Goods">
		update goods set
		goodsName = #{goodsName},
		goodsPrice = #{goodsPrice},
		goodsPhoto = #{goodsPhoto},
		goodsDescription = #{goodsDescription},
		classifyGoodsId = #{classifyGoodsId},
		goodsNumber = #{goodsNumber}
		where id = #{id}
	</update>
	
	<delete id="deleteGoods" parameterType="Goods">
		delete from goods
		where id = #{id}
	</delete>
	
	<!-- 查询所有商品信息 -->
    <select id="findAllGoodsByShopId" parameterType="Shop" resultType="Goods">
    	SELECT <include refid="Base_Column_List2" />
		FROM goods
		WHERE shopId =#{id}
    </select>
    
    <!-- 根据关键字模糊查询商品 -->
    <select id="findGoodsByKeywords" parameterType="Goods" resultType="Goods">
    	SELECT <include refid="Base_Column_List2" />
		FROM goods
		WHERE shopId =#{id} AND goodsName LIKE '%${goodsName}%'
    </select>

	<sql id="WithShop_Column_list">
		g.id, g.shopId, g.goodsName, g.goodsPrice, g.goodsPhoto, g.goodsDescription,
		 	g.isPass, g.classifyGoodsId, s.id, s.shopName, cg.id, cg.classifyName
	</sql>
	 <!-- 条件分页查询审核总条数 -->
	<select id="selectCount" parameterType="com.chb.entity.Page"
		resultType="java.lang.Long">
		SELECT count(0) FROM goods
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					goodsName like '%' #{keyWords} '%' 
				</if>
				<if test="fuzzy == false">
					goodsName = #{keyWords} 
				</if>
			</if>
			and isPass=0
		</where>
	</select>
	
	<!-- 查询所有待审核商家 -->
	<select id="getCheckGoodsListByPage" parameterType="com.chb.entity.Goods" resultType="Goods">
		SELECT <include refid="WithShop_Column_list"></include>
		 FROM goods g
		 LEFT JOIN shop s ON g.shopId=s.id
		 LEFT JOIN classify_goods cg ON g.classifyGoodsId=cg.id
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					g.goodsName like '%' #{keyWords} '%' 
				</if>
				<if test="fuzzy == false">
					g.goodsName = #{keyWords} 
				</if>
			</if>
			and g.isPass=0
		</where>
		 LIMIT ${(pageNum-1)*pageSize},#{pageSize}
	</select>
	
	<!-- 审核商品通过 -->
	<update id="updateGoodsById" parameterType="com.chb.entity.Goods" >
		UPDATE goods SET isPass=1 WHERE id=#{id}
	</update>
	<!-- 审核商品不通过 -->
	<delete id="deleteGoodsById" parameterType="int">
		DELETE FROM goods WHERE id=#{id}
	</delete>
	
</mapper>