<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.OrderDao">

	<sql id="Base_Column_List">
		id, orderNo,
		userId,shopId,shopId,status,notes,sumMoney,payMode,createTime,
		acceptTime,shopConfirmTime,userConfirmTime,isPay,paySerialsNumber
	</sql>

	<sql id="t_order">`order`</sql>

	<!-- 分类分页查询订单列表总条数 -->
	<select id="selectCountByPage" parameterType="java.util.Map"
		resultType="java.lang.Long">
		SELECT count(0) FROM
		<include refid="t_order" />
		<where>
			<if test="page.keyWords != null and page.keyWords != ''">
				<if test="fuzzy == true">
					orderNo like '%' #{page.keyWords} '%'
				</if>
				<if test="fuzzy == false">
					orderNo = #{page.keyWords}
				</if>
			</if>
			<if test="order.status != null and order.status != ''">
				<if test="order.status == 1">
					AND status = 0 OR status = 1
				</if>
				<if test="order.status == 2">
					AND status = 2 OR status = 3 OR status = 4
				</if>
				<if test="order.status == 3">
					AND status = 5
				</if>
			</if>
		</where>
	</select>

	<!-- 分类分页查询订单列表 -->
	<select id="selectOrderListByPage" parameterType="java.util.Map"
		resultType="Order">
		SELECT
		<include refid="Base_Column_List" />
		FROM
		<include refid="t_order" />
		<where>
			<if test="page.keyWords != null and page.skeyWords != ''">
				<if test="fuzzy == true">
					orderNo like '%' #{page.keyWords} '%'
				</if>
				<if test="fuzzy == false">
					orderNo = #{page.keyWords}
				</if>
			</if>
			<if test="order.status != null and order.status != ''">
				<if test="order.status == 1">
					AND status = 0 OR status = 1
				</if>
				<if test="order.status == 2">
					AND status = 2 OR status = 3 OR status = 4
				</if>
				<if test="order.status == 3">
					AND status = 5
				</if>
			</if>
		</where>
	</select>

	<!-- 增加订单 -->
	<insert id="addOrder" parameterType="Order">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			select @@IDENTITY as id
		</selectKey>
		INSERT INTO
		<include refid="t_order" />
		(orderNo,userId,shopId,notes,sumMoney,payMode)
		VALUES
		(#{orderNo},#{userId},#{shopId},#{notes},#{sumMoney},#{payMode})
	</insert>

	<!-- 修改订单编号 -->
	<update id="updateOrderNum">
		UPDATE
		<include refid="t_order" />
		SET
		orderNo = #{orderNo} WHERE id = #{id}
	</update>

	<!-- 修改订单状态 -->
	<update id="updateOrderStatus" parameterType="Order">
		UPDATE
		<include refid="t_order" />
		SET
		status = #{status} WHERE id = #{id}
	</update>

	<!-- 修改支付状态 -->
	<update id="updateOrderPayStatus" parameterType="Order">
		UPDATE
		<include refid="t_order" />
		SET
		isPay = #{isPay},
		paySerialsNumber = #{paySerialsNumber}
		WHERE id =
		#{id}
	</update>

</mapper>