<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.ShopDao">

	<sql id="Base_Column_List">
		id, businessmanId,
		shopName,shopPhoto,phone,credibility,lng,lat,
		address,legalRepresentative,isPass,isOnline,isOpen,openTime,
		shopNotice,startPrice,carriage,averageTime,dispatchDescription,takeoutAreaId,
		monthSales,shopPoint,shopClassifyId
	</sql>


	<insert id="insertShop" parameterType="com.chb.entity.Shop">
		insert into shop (id,businessmanId,
		shopName,shopPhoto,phone,credibility,lng,lat,address,legalRepresentative,isPass,isOnline,
		isOpen,openTime,shopNotice,startPrice,carriage,averageTime,dispatchDescription,
		takeoutAreaId,monthSales,shopPoint,shopClassifyId)
		values (#{id,jdbcType=INTEGER},#{businessmanId,jdbcType=INTEGER},#{shopName,jdbcType=VARCHAR},
		#{shopPhoto,jdbcType=VARCHAR},#{phone,jdbcType=VARCHAR},#{credibility,jdbcType=INTEGER},
		#{lng,jdbcType=DOUBLE},#{lat,jdbcType=DOUBLE},
		#{address,jdbcType=VARCHAR},#{legalRepresentative,jdbcType=VARCHAR},#{isPass,jdbcType=INTEGER},#{isOnline,jdbcType=INTEGER},
		#{isOpen,jdbcType=INTEGER},#{openTime,jdbcType=VARCHAR},#{shopNotice,jdbcType=VARCHAR},#{startPrice,jdbcType=DOUBLE},
		#{carriage,jdbcType=DOUBLE},#{averageTime,jdbcType=INTEGER},#{dispatchDescription,jdbcType=VARCHAR},
		#{takeoutAreaId,jdbcType=INTEGER},#{monthSales,jdbcType=INTEGER},#{shopPoint,jdbcType=INTEGER},#{shopClassifyId,jdbcType=INTEGER})
	</insert>
	<!-- 根据id查询商店信息 -->
    <select id="findShopById" parameterType="Shop" resultType="Shop">
    	SELECT <include refid="Base_Column_List" />
		FROM shop
		WHERE id=#{id}
    </select>
    <!-- 根据商店名返回商店信息 -->
    <select id="findShopByName" parameterType="String" resultType="Shop">
    	SELECT <include refid="Base_Column_List" />
		FROM shop
		WHERE shopName=#{shopName}
    </select>

</mapper>