<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.UserDao">
	<select id="findByUsername" parameterType="string" resultType="User">
		SELECT * FROM user WHERE userName=#{userName}
	</select>

	<!-- <update id="updateUser" parameterType="com.chb.entity.User"> UPDATE 
		user SET password=#{password} WHERE id=#{id} </update> -->

	<!-- 动态更新用户 -->
	<update id="updateUser" parameterType="com.chb.entity.User">
		UPDATE user
		<trim prefix="set" suffixOverrides=",">
			<if test="userName!=null">userName=#{userName},</if>
			<if test="password!=null">password=#{password},</if>
			<if test="salt!=null">salt=#{salt},</if>
			<if test="email!=null">email=#{email},</if>
			<if test="phone!=null">phone=#{phone},</if>
			<if test="loginCount!=null">loginCount=#{loginCount},</if>
			<if test="photo!=null">photo=#{photo},</if>
			<if test="registerTime!=null">registerTime=#{registerTime},</if>
			<if test="status!=null">status=#{status},</if>
		</trim>
		where id=#{id}
	</update>

    <!-- 条件分页查询总条数 -->
	<select id="selectCount" parameterType="com.chb.entity.Page"
		resultType="java.lang.Long">
		SELECT count(0) FROM user
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					userName like '%' #{keyWords} '%'
				</if>
				<if test="fuzzy == false">
					userName = #{keyWords}
				</if>
			</if>
			and status=1
		</where>
	</select>
	<!-- 根据时间段查询用户总数 -->
	<select id="selectCountByTime" parameterType="long" resultType="java.lang.Long">
		SELECT count(0) FROM user WHERE registerTime<![CDATA[<=]]>'2017-${_parameter}-30 00:00:00'
	</select>
	<!-- 根据登录次数查询用户总数 -->
	<select id="selectCountByLoginCount" parameterType="long" resultType="java.lang.Long">
		SELECT count(0) FROM user WHERE loginCount between ${_parameter*50} 
		and ${(_parameter+1)*50}
	</select>
	<!-- 条件分页查询用户列表 -->
	<select id="selectUserByPage" parameterType="com.chb.entity.Page"
		resultType="User">
		SELECT * FROM user
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					userName like '%' #{keyWords} '%'
				</if>
				<if test="fuzzy == false">
					userName = #{keyWords}
				</if>
			</if>
			and status=1
		</where>
		 LIMIT ${(pageNum-1)*pageSize},#{pageSize}
	</select>
    
    <select id="findByUserPhone" parameterType="string" resultType="User">
       SELECT * FROM user WHERE phone=#{phone}
    </select>
    
        <select id="findByUserEmail" parameterType="string" resultType="User">
       SELECT * FROM user WHERE email=#{email}
    </select>
    
    <insert id="insertUser" parameterType="com.chb.entity.User">
       INSERT INTO user(userName,password,salt,email,phone,loginCount,registerTime,status) values(#{userName},#{password},#{salt},#{email},#{phone},#{loginCount},#{registerTime},#{status})
    </insert>
  <!--   
    <update id="updateUser" parameterType="com.chb.entity.User">
       UPDATE user SET password=#{password} WHERE id=#{id}
    </update> -->
    <update id="deleteUserById" parameterType="int">
    	UPDATE user SET status=2 WHERE  id=#{deleteResult}
    </update>
    <select id="selectUserNameByPrimaryKey" parameterType="Integer" resultType="User">
		SELECT userName FROM user WHERE id = #{id}
	</select>
</mapper>