<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chb.dao.UserDao">
	<select id="findByUsername" parameterType="string" resultType="User">
		SELECT * FROM user WHERE username=#{username}
	</select>

	<!-- 条件分页查询总条数 -->
	<select id="selectCount" parameterType="com.chb.entity.Page"
		resultType="java.lang.Long">
		SELECT count(0) FROM user
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					place_name like '%' #{keyWords} '%'
				</if>
				<if test="fuzzy == false">
					place_name = #{keyWords}
				</if>
			</if>
		</where>
	</select>

	<!-- 条件分页查询用户列表 -->
	<select id="selectUserByPage" parameterType="com.chb.entity.Page"
		resultType="User">
		SELECT * FROM user
		<where>
			<if test="keyWords != null and keyWords != ''">
				<if test="fuzzy == true">
					place_name like '%' #{keyWords} '%'
				</if>
				<if test="fuzzy == false">
					place_name = #{keyWords}
				</if>
			</if>
		</where>
	</select>
</mapper>