@charset "UTF-8";

body,html {
	width: 100%;
	height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.main {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.pic{
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#loginPic {
	width: 500px;
	height: 500px;
}

.login-form,.register-form{
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-top: -25px;
}

#iform{
	width: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo{
	width: 200px;
	margin-bottom: 20px;
}
#myTab>li>a{
	color: #555;
}

#myTabContent2{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 10px;
}
#myTabContent2 a{
	padding-top: 5px;
	padding-left: 10px;
	text-align: center;
	text-decoration: none;
	font-size: 12px;
}

.btn-theme {
	background: #FF4444;
	color: #fff !important;
	outline: none !important;
}
.btn-theme:hover {
	background: #d63939;
}


/* 个人主页 */

#all{
	width:100%;
	height:99%;
	position:absolute
	
}
#p_logo{
	width:150px;
	height:70px;
	margin-left: 300px;
	margin-top:7px;	
	position:absolute
}

#head_favicon{
	wideth:50px;
	height:50px;
	margin-left: 800px;
	margin-top:-50px;	

}

#userN{
	margin-top:50px;	
	margin-left: 10px;
}

#head{
     background-color:red;
     height:12% ;
     width:100%; 
     float:left
	
}

#left{
	height:100%;
    width:15%; 
    float:left
}

#left_favicon{
	margin-left:70px;
	margin-top:30px;
	width:80px;
	height:80px;
}

#container{
    
	height:86%;
    width:85% ;
    float:left;
}


#selectFavicon{

	width:50px; 
	height:26px; 
	margin-left:-14px;
	margin-top:-28px;
	opacity:0;


}


#foot{
	background-color:red;
	width:100%; 
	height:3%;
	float:left;
}

.menu-item {
	color: #FF4444 !important;
	background-color: snow !important;
}

.menu-item:hover, .menu-item:active {
	color: #ee1c1a !important;
	background-color: snow !important;
}

/*my styles*/
.type-nav {
	margin: 10px 30px;
	display: flex;
	flex-direction: row;
	font-size: 16px;
}

.type-nav > a {
	padding: 10px 20px;
}

.type-nav > a:hover {
	color: #FF4444;
	cursor: pointer;
	border-bottom: 2px solid #FF4444;
}

.type-nav > a.active {
	color: #FF4444;
	border-bottom: 2px solid #FF4444;
}